.mainDiv {
  position: relative;
  background-color: #000000;
  overflow: hidden;
}

.myBubbleUI {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: relative;
}

.bubble-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 0.2s ease;
  z-index: 1;
  border: 2px solid goldenrod;
  box-sizing: border-box;
}

.childComponent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.childComponent .media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.grid-top {
  width: -webkit-fill-available;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
}

.grid-bottom {
  position: absolute;
  width: -webkit-fill-available;
  top: 480px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.grid img {
  max-width: 200%;
  max-height: 100%;
  object-fit: contain;
}