.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.myBubbleUI {
  width: 100vw;
  height: 70vh;
  background-color: #000000;
  position: relative;
}

.bubble-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: transform 0.2s ease;
  z-index: 1;
  border: 2px solid goldenrod;
  box-sizing: border-box;
}

.childComponent {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.childComponent .media {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.grid-top {
  position: absolute;
  height: 27vh;
  width: 100%;
  top: -30px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.grid-bottom {
  position: absolute;
  height: 20vh;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.grid img {
  max-width: 200%;
  max-height: 100%;
  object-fit: contain;
}

/* @media (min-height: 768px) {
  .grid-top {
    height: 85vh;
    top: -500px;
  }
} */

/* @media (min-height: 980px) {
  .grid-top {
    height: 76vh;
    top: -500px;
  }
} */